
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	#home-screen a.btn-custom{
		margin:10px 12px;
	}
	footer h4 {
		padding-top: 15px;
	}
	section p{
		font-size: 1.2em;
	}

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	#home-screen a.btn-custom{
		margin:10px 12px;
	}
	#home-screen h1{
 		font-size:2.7em;
 	}
 	footer h4 {
		padding-top: 15px;
	}
	section p{
		font-size: 1em;
	}

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	#home-screen h1{
 		font-size:3em;
 	}
 	section p{
		font-size: 1em;
	}

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	#home-screen h1{
 		font-size:4em;
 	}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	#home-screen h1{
 		font-size:4em;
 	}

 }
