*{
    margin: 0;
    padding: 0;
}
html, body, #home-screen{
	height: 100vh;
}
body{
    font-family: Helvetica, Arial, sans-serif;
}

#page-home{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
p{
    text-align: justify;
}